
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email Verification</title>
</head>
<body>
    <h2>Email has been send</h2>
    <p>Please verify it!</p>
</body>
</html>
