
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h1>Register page</h1>
    <form action="/Home/Register" method="post">
        <input type="text" name="username" />
        <input type="text" name="password" />
        <button type="submit">Register</button>
    </form>
</body>
</html>
